@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #f1D8C9, #f2C3AB);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #f39209;
    text-align: center;
    text-shadow: 10px 10px 10px #F39209;
}

h2{
    color: #06088a;
}
p{
    text-align: justify;
}